@import "tailwindcss";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --background: 38 85% 98%;
  --foreground: 28 33% 19%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
  }
}

body {
  background-color: #FFF7E9;
  color: #3D3024;
  font-family: 'Pretendard', sans-serif;
}
